__pycache__/
.git/
.venv/
.vscode/

build/
dist/
oemer.egg-info/
checkpoints/

.DS_Store

*.musicxml
*.mp3
*.swp

# Model training datasets
/ds2_dense
/CvcMuscima-Distortions

# Model training checkpoints and outputs
/seg_unet
/test_data
/train_data
/*.model
/*.h5
/*.json

/segnet_*
/unet_*
/rests_*
/all_rests_*
/sfn_*
/clef_*

image.jpg